.password_input{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.password_input>input{
  min-width: 0;
  width: 100%;
}

.password_input>button{
  width: 20px;
  height: 18px;

  border-radius: 50%;
}

.password_input>button>img{
  width: 16px;
  height: 16px;
  object-fit: cover;
}