@import url("./element-style/button.css");
@import url("./element-style/input.css");
@import url("./element-style/scrollbar.css");

@import url("./components/card_area/card_area.css");
@import url("./components/dialog_container/dialog_container.css");
@import url("./components/on_hand/on_hand.css");
@import url("./components/page_menu/page_menu.css");
@import url("./components/password_input/password_input.css");
@import url("./components/poke_card/poke_card.css");
@import url("./components/search/search.css");
@import url("./components/top_menu/top_menu.css");

@import url("./pages/deck/deck.css");
@import url("./pages/pokedex/pokedex.css");
@import url("./pages/shop/shop.css");
@import url("./pages/settings/settings.css");


* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: monospace;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_close {
  width: 18px;
  height: 18px;

  position: absolute;
  top: 5px;
  right: 5px;

  border-radius: 50%;

  cursor: pointer;
}
.btn_close:active {
  position: absolute;
  top: 4px;
  right: 5px;

  transition: 0.3s ease;
}
.fade {
  width: 100vw;
  height: 100vh;

  background-color: #000a;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.hide {
  display: none;
}

li{
  list-style: none;
}