button {
  padding: 2px;

  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  outline: 1px solid #e5e5e5;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease;
  appearance: none;
  cursor: pointer;
}
button:hover {
  background-color: #dedede;
  outline: 1px solid #d2d2d2;

  transition: outline 0.3s ease, background-color 0.3s ease;
}
button:active {
  background-color: #0001;

  outline: 1px solid #ababab;

  position: relative;
  top: 2px;

  transition: 0.3s ease;
}

button:disabled {
  padding: 2px;

  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  outline: 1px solid #e5e5e5;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease;
  appearance: none;
  cursor: default;
}
button:disabled:hover {
  background-color: transparent;
  outline: 1px solid #e5e5e5;
}
button:disabled:active {
  background-color: transparent;
  outline: 1px solid #e5e5e5;

  position: relative;
  top: 0px;
}